basePath: /routine
definitions:
  dto.CreateDailyRoutineDto:
    properties:
      day:
        type: integer
      weekly_routine_id:
        type: integer
    type: object
  dto.CreateProgramDto:
    properties:
      author:
        type: integer
      daily_routines:
        items:
          $ref: '#/definitions/dto.CreateDailyRoutineDto'
        type: array
      description:
        type: string
      image:
        type: string
      routine_acts:
        items:
          $ref: '#/definitions/dto.CreateRoutineActDto'
        type: array
      tags:
        items:
          type: string
        type: array
      title:
        type: string
      type:
        $ref: '#/definitions/program.Type'
      weekly_routines:
        items:
          $ref: '#/definitions/dto.CreateWeeklyRoutineDto'
        type: array
    type: object
  dto.CreateRoutineActDto:
    properties:
      act_id:
        type: integer
      daily_routine_id:
        type: integer
      lap:
        type: integer
      order:
        type: integer
      reps:
        type: integer
      warmup:
        type: boolean
    type: object
  dto.CreateWeeklyRoutineDto:
    properties:
      program_id:
        type: integer
      week:
        type: integer
    type: object
  program.Type:
    enum:
    - weekly
    - daily
    type: string
    x-enum-varnames:
    - TypeWeekly
    - TypeDaily
host: api.lifthus.com
info:
  contact:
    email: lifthus531@gmail.com
    name: API Support
    url: lifthus531@gmail.com
  description: This is Project-Hus's subservice Lifthus's routine management server.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Lifthus routine server
  version: 0.0.0
paths:
  /routine/program:
    post:
      parameters:
      - description: create program dto
        in: body
        name: createProgramDto
        required: true
        schema:
          $ref: '#/definitions/dto.CreateProgramDto'
      responses:
        "201":
          description: returns created program
        "400":
          description: invalid body
        "401":
          description: unauthorized
        "403":
          description: forbidden
        "500":
          description: failed to create program
      summary: gets CreateProgramDto from body and returns created program
      tags:
      - program
swagger: "2.0"
