basePath: /
host: lifthus.com
info:
  contact:
    email: lifthus531@gmail.com
    name: API Support
    url: lifthus531@gmail.com
  description: This is Project-Hus's subservice Lifthus's user management server.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Lifthus user server
  version: 0.0.0
paths:
  /hus/session/sign:
    post:
      description: Hus sends SID and UID which are verified and Lifthus sets the session
        token to be signed in.
      responses:
        "200":
          description: session signing success
        "500":
          description: failed to set the login session
      summary: gets lifthus sid and uid from Hus and sets the session token to be
        signed in.
      tags:
      - auth
  /session/access:
    post:
      description: |-
        Hus told lifthus that the user is signed in.
        so now we can publish access token to the client who has verified sid.
        and also we revoke the used session token.
      responses:
        "201":
          description: publishing access token success
        "401":
          description: unauthorized
        "500":
          description: internal server error
      summary: gets lifthus sid in cookie from client and publishes access token.
      tags:
      - auth
  /session/new:
    post:
      description: |-
        at the same time the user opens Lifthus from browser, the client requests new session token.
        and Lifthus auth server returns session id with session token in cookie.
      responses:
        "201":
          description: returns session id with session token in cookie
        "500":
          description: failed to create new session
      summary: when lifthus web app is opened, session token is assigned.
      tags:
      - auth
swagger: "2.0"
