{
    "swagger": "2.0",
    "info": {
        "description": "This is Project-Hus's subservice Lifthus's user management server.",
        "title": "Lifthus user server",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "lifthus531@gmail.com",
            "email": "lifthus531@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "0.0.0"
    },
    "host": "lifthus.com",
    "basePath": "/",
    "paths": {
        "/hus/session/check": {
            "post": {
                "description": "at the same time user connects to lifthus newly, the client requests new session token.\nand the server returns session id with session token in cookie.\nthen the client send the session id to Hus auth server.\nand Hus validates the login session and tell lifthus.\nand finally, Hus redirects the client to lifthus's endpoint.",
                "tags": [
                    "auth"
                ],
                "summary": "gets lifthus sid and uid from hus and set the login session.",
                "responses": {
                    "200": {
                        "description": "session checking success"
                    },
                    "500": {
                        "description": "failed to set the login session"
                    }
                }
            }
        },
        "/session/new": {
            "post": {
                "description": "at the same time user connects to lifthus newly, the client requests new session token.\nand the server returns session id with session token in cookie.",
                "tags": [
                    "auth"
                ],
                "summary": "gets new connection and assign a lifthus session token.",
                "responses": {
                    "200": {
                        "description": "returns session id with session token in cookie"
                    },
                    "500": {
                        "description": "failed to create new session"
                    }
                }
            }
        }
    }
}