basePath: /user
host: lifthus.com
info:
  contact:
    email: lifthus531@gmail.com
    name: API Support
    url: lifthus531@gmail.com
  description: This is Project-Hus's subservice Lifthus's user management server.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Lifthus user server
  version: 0.0.0
paths:
  /hus/session/check:
    post:
      description: |-
        at the same time user connects to lifthus newly, the client requests new session token.
        and the server returns session id with session token in cookie.
        then the client send the session id to Hus auth server.
        and Hus validates the login session and tell lifthus.
        and finally, Hus redirects the client to lifthus's endpoint.
      responses:
        "200":
          description: session checking success
        "500":
          description: failed to set the login session
      summary: gets lifthus sid and uid from hus and set the login session.
      tags:
      - auth
  /session/new:
    post:
      description: |-
        at the same time user connects to lifthus newly, the client requests new session token.
        and the server returns session id with session token in cookie.
      responses:
        "200":
          description: returns session id with session token in cookie
        "500":
          description: failed to create new session
      summary: gets new connection and assign a lifthus session token.
      tags:
      - auth
swagger: "2.0"
